//引入重置文件
@import "../public/css/reset.css";
//顶部导航
@import "./topbar.less";
//侧边栏
@import "./sidebar.less";
//主体
@import "./index-main.less";
//底部
@import "./footer.less";
//歌曲列表
@import "./songList.less";
//歌曲详情
@import "./song-detail.less";
//页面色
@red: rgb(198,47,47);
@red-grey: rgb(209,88,88);
//边框
@border: 1px solid rgb(225,225,226);
//li hover色
@lihover: rgb(230,231,234);
//背景色
@background: rgb(245,245,247);
//最小宽度
body {
    position: relative;
    min-width: 1050px;
}
//盒子居中
.boxcenter(@tb){
    margin: @tb auto;
}
//中部内容
.middle {
    display: flex;
}
//搜索关键词高亮
.search-keyword {
    color: steelblue;
}
//文字超出变为...
.text-ellipsis {
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
//中间的内容高度100%
.middle {
    height: calc(100vh - 130px);
}